@import 'tailwindcss';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/themes/mona';

@import '@skeletonlabs/skeleton-svelte';

@custom-variant dark (&:where(.dark, .dark *));

html,
body {
	@apply h-full overflow-hidden;
}
